<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{subject.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{subject.add.headline}]]</h1>
                <div>
                    <a th:href="@{/subjects}" class="btn btn-secondary">[[#{subject.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('subject')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='priority', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='depth', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='subject')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='description')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='isDone', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='isDivide', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='isFavorite', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='member', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='subject', field='parent', type='select')}" />
                <input type="submit" th:value="#{subject.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
